<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="PositionKeeperDataWarehouse.Dao.IProductDao">
	<insert  id="createProduct" parameterType="PositionKeeperDataWarehouse.Entity.Product"  keyProperty="productKey" useGeneratedKeys="true">
	        INSERT INTO Product
	        VALUES
	        (#{symbol},#{fullName},#{sector},#{industry},#{productType})
	</insert>
	<select id="getProductBySymbol" resultType="PositionKeeperDataWarehouse.Entity.Product">
		SELECT * FROM Product WHERE Symbol = #{symbol}
	</select>
	
	<select id="getProductByProductKey" resultType="PositionKeeperDataWarehouse.Entity.Product">
		SELECT * FROM Product WHERE ProductKey = #{productKey}
	</select>
	
	<select id ="getOptionBySymbol" resultType="PositionKeeperDataWarehouse.Entity.Option">
		SELECT * FROM Product, Stockoption WHERE Symbol = #{symbol} AND Stockoption.OptionKey = Product.ProductKey
	</select>
	
	<insert  id="createOption" parameterType="PositionKeeperDataWarehouse.Entity.Option">
	        INSERT INTO Stockoption
	        VALUES
	        (#{optionKey},#{strikePrice},#{expirationDate},#{underlyingStockKey},#{optionType})
	</insert>
	
	<select id="getProductsForUpdateDetails" resultMap="product">
		SELECT top 3000 * FROM Product WHERE ProductType = 'Option' AND FullName = ''
	</select>
	
	<select id="getProductOption" resultMap="product">
		SELECT * FROM Product WHERE ProductType = 'Option'
	</select>
	
    <resultMap id="product" type="PositionKeeperDataWarehouse.Entity.Product">
	    <id column="ProductKey" property="productKey" />
	    <result column="Symbol" property="symbol" />
	    <result column="FullName" property="fullName" />
	    <result column="Sector" property="sector" />
	    <result column="Industry" property="industry" />
	    <result column="ProductType" property="productType" />
    </resultMap>
    
    <update id = "updateProductDetails" parameterType="PositionKeeperDataWarehouse.Entity.Product">
    	UPDATE Product 
    	SET FullName = #{fullName},
	    	Sector = #{sector},
	    	Industry = #{industry},
	    	ProductType = #{productType} 
    	WHERE ProductKey = #{productKey}
    </update>
</mapper>